@import '../../styles/theme/ThemeVariables.scss';

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  @include themify($themes) {
    background: themed('neutral1');
  }
  padding: 20px;
}

.navbar-brand {
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
  @include themify($themes) {
    color: themed('stroke');
  }
}

.navbar-nav {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-item {
  margin-left: 20px;
}

.nav-link {
  font-size: 16px;
  text-decoration: none;
  @include themify($themes) {
    color: themed('neutral7');
  }
}

.themeBtn {
  background: none;
  border: none;
  cursor: pointer;
  margin-left: auto;
  font-size: 20px;
}